.form {
    background: white;
    position: absolute;
    left: 100px;
    right: 100px;
    top: 175px;
}

.imagelist {
    overflow: scroll;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .item {
        width: 40%;
        margin-bottom: 30px;

        img {
            width: 100%;
        }
    }
}
